<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
         <header>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header col-md-3 col-lg-2">
                    <a class="navbar-brand" href="{{ path('home') }}">{# {{ path('homepage') }} #}
                       Product LifeStyle
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">


                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                            <li>
                                <a href='{{ path('category_index') }}'> Categories Management  </a>
                            </li>

                            <li>
                                <a href='{{ path('product_index') }}'> Product Management </a>
                            </li>


                            <li>
                                <a> <i class="fas fa-user"></i>  {{ app.user.email}}</a>
                            </li>

                            <li>
                                
                                <a href="{{ path('app_logout') }}">
                                    <i class="fa fa-sign-in"></i>
                                    {# {{ 'menu.homepage'|trans }} #}
                                    Logout
                                </a>
                                
                            </li>

                            {% else %}

                           

                            <li>
                                <a href="{{ path('login') }}">
                                    {# {{ 'menu.homepage'|trans }} #}
                                    Login
                                </a>
                            </li>

                             <li>
                                <a href="{{ path('app_register') }}" > 
                                    {# {{ 'menu.homepage'|trans }} #}
                                    Sign up
                                </a>
                            </li>
                            {% endif %}


                            
                        

                       
                    </ul>
                </div>
            </div>
        </div>
    </header>
        {% block body %}{% endblock %}
    </body>
</html>
